<?xml version="1.0"?>
<launch>

  <!-- Controller configuration -->
  <arg name="controller_config_file" default="$(dirname)/ur5e_2f85_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
  <arg name="controllers" default="joint_state_controller pos_joint_traj_controller gripper_controller" doc="Controllers that are activated by default."/>
  <arg name="stopped_controllers" default="joint_group_pos_controller" doc="Controllers that are initally loaded, but not started."/>

  <!-- robot_state_publisher configuration -->
  <arg name="tf_prefix" default="" doc="tf_prefix used for the robot."/>
  <arg name="tf_pub_rate" default="500" doc="Rate at which robot_state_publisher should publish transforms."/>

  <!-- Gazebo parameters -->
  <arg name="world" default="empty.world" doc="The '.world' file to load in Gazebo." />
  <arg name="paused" default="false" doc="Starts Gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts Gazebo gui" />    

  <!-- Robot pose -->
  <arg name="x" default="0"  doc="How far forward to place the base of the robot in [m]?" />
  <arg name="y" default="0"  doc="How far leftwards to place the base of the robot in [m]?" />
  <arg name="z" default="0"  doc="How far upwards to place the base of the robot in [m]?" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="$(arg tf_pub_rate)" />
    <param name="tf_prefix" value="$(arg tf_prefix)" />
  </node>

  <!-- Start the 'driver' (ie: Gazebo in this case) -->
  <include file="$(dirname)/ur_2f85_control.launch.xml">
    <arg name="controller_config_file" value="$(arg controller_config_file)"/>
    <arg name="controllers" value="$(arg controllers)"/>
    <arg name="gazebo_world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="stopped_controllers" value="$(arg stopped_controllers)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
  </include>


  <!-- grasp events ROS publisher -->
  <node pkg="gazebo_grasp_plugin_ros" type="grasp_event_republisher" name="grasp_event_republisher">
    
  </node>

</launch>

